* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: url("./assest/images/bg.jpg");
    /* fallback for old browsers */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    gap: 20px;
}

.check{
    color:#48ff00,  
    
}

.react-chatbot-kit-chat-message-container{
    background: linear-gradient(179.1deg, rgb(43, 170, 96) 2.3%, rgb(129, 204, 104) 98.3%);

}

.react-chatbot-kit-chat-container {
    width: 350px;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #B6AD90;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #B6AD90;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #3D441E;
}

.ADE {
    background-color: #7F4F24;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 100%;
}



.start-btn {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 1rem
}

.start-btn{
    margin-left: 1rem;
    margin-top: 5px;
}


.start-btn:before {
    content: 'let go';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.start-btn:active {
    color: #000
}

.start-btn:active:after {
    background: transparent;
}

.start-btn:hover:before {
    opacity: 1;
}

.start-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #936639;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.img-component {
    margin-left: 3rem;
    position: relative;
}

.img-container {
    width: 185px;
    height: 185px;
    border: 2px solid #61045F;
    overflow: hidden;
    border-radius: 5px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-component a {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #61045F;
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
}

.img-component a:hover {
    background-color: #61045f5e;
}

.react-chatbot-kit-chat-message-container{
    overflow-x: auto;
    overflow-y:auto;
}

.react-chatbot-kit-chat-header{
    color:black;
    text-align: center;
}